body{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .container{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

} */

.position{
   
}

.top , .middle , .end {
    display: flex;

}

button{
    width: 100px;
    height: 100px;
}